<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tianpei</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="../index.html">Tianpei Cai</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://impartculture.com">Impart</a>
                    </li>
                    <li>
                        <a href="views/ml.html">Machine Learning</a>
                    </li>
                    <li>
                        <a href="views/ag.html">AngularJS</a>
                    </li>
                    <li>
                        <span></span>
                    </li>
                    <li class="Contact">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">(646) - 820 - 5399</a></li>
                          <li><a href="mailto: tempay.c@gmail.com">tempay.c@gmail.com</a></li>
                          <li><a href="resume.html">Resume</a></li>
                        </ul>
                      </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->

    <a name="about"></a>
    <div class="intro-ag">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>AngularJS</h1>
                        <h3>A Popular Front-end Framework</h3>
                        <hr class="intro-divider">
                        <div class="col-md-4 col-md-offset-4">
                        <p id="intro-para">
                                HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications.
                                AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop</br>
                                -- angularjs.org
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-ag -->

    <!-- Page Content -->

	<a  name="services"></a>
    <h2 class="col-md-4 col-md-offset-4" style="text-align:center">--My Angular Playground--</h2>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Single Component App<br>Color Previewer</h2>
                    <p class="lead">A simple app that tells you how the color you just typed in looks like. <a target="_blank" href="https://github.com/Tempay/Angular2PracticeProjects/tree/master/colorPreviewer">Code Here!</a> Users can type any color in css format: red, blue, #000, etc</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 img-ag">
                    <img class="img-thumbnail img-ag" src="../img/color-previewer.PNG" alt="">
                </div>
            </div>

        </div>
    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

    <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Github Searcher</h2>
                    <p class="lead">Useful tool to get to know users on Git, just type in their IDs! <a target="_blank" href="https://github.com/Tempay/Angular2PracticeProjects/tree/master/githubsearcher">See Sample and Code</a>!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="https://github.com/Tempay/Angular2PracticeProjects/blob/master/githubsearcher/img/gs_search.PNG?raw=true" alt="">
                </div>
            </div>

        </div>
    <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Spotify Searcher</h2>
                        <p class="lead">A user-friendly Spotify contents searcher, you can search artists and get all their albums, tracks, or even play the trial tracks! <a target="_blank" href="https://github.com/Tempay/Angular2PracticeProjects/tree/master/spotifySearcher">See Sample and Code</a>!</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 img-ag">
                        <img class="img-thumbnail img-ag" src="https://github.com/Tempay/Angular2PracticeProjects/blob/master/spotifySearcher/src/img/artist.PNG?raw=true" alt="">
                    </div>
                </div>

            </div>
        </div>
        <!-- /.content-section-a -->


    <!-- /.container -->
    <div class="banner ag-footer">

       <div class="container">

           <div class="row">
               <div class="col-lg-6">
                   <h2>Constructing...More to come</h2>
               </div>
           </div>

       </div>
       <!-- /.container -->
   </div>
    <!-- /.content-section-a -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>


</html>
